<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">SwagModelTest</label>
    <label lang="en">SwagModelTest</label>

    <version>1.0.1</version>
    <link>https://github.com/bcremer/SwagModelTest</link>
    <author>Benjamin Cremer</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes lang="en">Release</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">plugin.xml Beispiel hinzugefügt</changes>
        <changes lang="en">Added plugin.xml example</changes>
    </changelog>
</plugin>
